body {
    background: #1a1919;
    color: #ebe2e2;
    margin-top: 5rem;
  }
  
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #2b2b2b;
    border-bottom: 1px solid #00e426
  
  
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #353535;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .content-section h3{
    color:white;
  }
  .content-section p{
    color:#bdbdbd !important;
  }

  .content-section .list-group-item{
    color:#424242;
  }
  

  
  .article-title {
    color: #ffffff;
  }
  
  a.article-title:hover {
    color: #00e426;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;

  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #00e426
  }
  .article-metadata a {
    color: #ffffff;
    text-decoration: none;
  }
  .article-metadata small {
    color: #acacac !important;
  }
  
  .article-metadata a:hover {
    color: #00e426;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }